.navbar
  background: #1e1f25
  display: flex
  justify-content: space-around
  flex-flow: row wrap

  &__item
    display: flex
    flex: 1 0 auto
    padding: 20px 10px
    justify-content: center
    align-items: center
    font-weight: 300
    transition: 0.3s

    &:hover
      background: #5051f9
      cursor: pointer
      transition: 0.3s